<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Обязательные поля</h3>

<p>Обязательные поля должны быть включены в CSV файл создания учетной записи Пользователя или заполнены пользователем после завершения регистрации на сайте.</p>
