<h3>Адрес электронной почты</h3>
<p>Адрес электронной почты, указанный вами при регистрации, является вашим основным контактным адресом. Вы можете указать на сайте несколько адресов электронной почты. В вашем профиле вы можете использовать любой подтвержденный адрес электронной почты..</p>
<p>Чтобы добавить новый адрес, перейдите по ссылке  <a onclick="email_new(); return false;" href="">«Добавить адрес электронной почты».</a>. Когда вы сохраните свой профиль, на новый адрес электронной почты будет выслано письмо. Перейдите по ссылке в этом письме для подтверждения данного электронного адреса.</p>
<p><strong>Важно:</strong> ссылка в сообщении действует только 24 часа. По истечении этого времени вы должны будете повторно ввести в систему новый адрес электронной почты..</p>
