<h3>Отображаемое имя</h3>
<p>Отображаемое имя будет показано всем пользователям сети Интернет. Вы имеете право использовать свое полное или сокращенное имя, псевдоним. Выбранное вами имя будет отображаться вместо вашего полного имени для всех, кроме администраторов сайта.</p>
