<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Пароль</h3>
<p>Чтобы изменить ваши логин и пароль, сначала введите ваш старый пароль, затем новый пароль в оба поля - новый пароль и подтверждение пароля.</p>
<p>В целях обеспечения безопасности ваших персональных данных обратите внимание на то, чтобы ваш пароль состоял как минимум из шести символов. Пароль не должен быть идентичен вашему логину. При введении пароля учитывайте регистр символов.</p>
<p>Более безопасно использовать кодовую фразу в качестве пароля - предложение вместо одного слова. Вы можете использовать любимую цитату или перечисление того, что вам нравится, через запятую или пробелы.</p>
