<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Сообщения от других пользователей</h3>
<p>Используйте эту настройку, чтобы выбрать пользователей, от которых вы хотите получать сообщения. Форму получения сообщений от других пользователей, вы можете настроить в разделе настроек уведомлений.</p>
<p><strong>Важно:</strong> Это ограничение не распространяется на администратора сайта.</p>
