<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Создание страницы с помощью тегов</h3>
<p>Вы можете выбрать некоторые теги, чтобы заполнить страницу содержимым, содержащим эти теги.</p>
<p>Полученная страница будет содержать контент (артефакты и блоки), который вы отметили. Затем вы можете повторно расположить блоки на странице.</p>
<p>Например, если вы отметите тегом:<p>
<ul>
<li>Одно изображение, а затем выберите этот тег здесь, он будет добавлен в качестве блока изображения на страницу.</li>
<li>Три изображения с одинаковыми двумя тегами и выберите эти теги здесь, изображения будут отображаться в галерее изображений.</li>
<li>Один PDF и выберите этот тег здесь, блок PDF будет добавлен на страницу.</li>
<li>Существующий блок на другой странице, например, блок "текст", он будет копировать этот блок на эту страницу.</li>
</ul>
<h4>Сопоставления содержимого:</h4>
<table>
<tr>
<th>Тип</th>
<th>Количество</th>
<th>Блок</th>
</tr>
<tr>
<td rowspan="2" valign="top">Изображение</td>
<td>1</td>
<td valign="top">Изображение</td>
</tr>
<tr>
<td valign="top">2+</td>
<td valign="top">Галерея изображений</td>
</tr>
<td rowspan="2" valign="top">PDF</td>
<td valign="top">1</td>
<td valign="top">Блок PDF</td>
</tr>
<tr>
<td valign="top">2+</td>
<td valign="top">Файл(ы) для скачивания</td>
<tr>
<td rowspan="2" valign="top">Аудио/видео</td>
<td valign="top">1</td>
<td valign="top">Встроенные медиа</td>
</tr>
<tr>
<td valign="top">2+</td>
<td valign="top">Файл(ы) для скачивания</td>
</tr>
</table>
<p><strong>Важно:</strong> Выбранные теги используются только для добавления начальных блоков на страницу. Если вы пометите другой контент после этого, вам нужно будет добавить его на страницу самостоятельно. Кроме того, при удалении блока он не будет автоматически добавлен обратно.</p>
<p>Если в следующий раз вы выберете другой тег (или тот же самый), новое содержимое будет добавлено на страницу.</p>
