<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Поля для поиска</h3>

<p>Поля профиля, помеченные как "доступные для поиска", будут доступны для всех зарегистрированных пользователей.</p>

<p>Имя, фамилия и отображаемое имя, как правило, всегда доступны для поиска. Однако точное поведение поиска имен контролируется настройками на странице параметров сайта "пользователи могут скрывать настоящие имена" и "искать имена пользователей", а также индивидуальными предпочтениями пользователя.</p>

<p>Другие поля профиля, доступные для поиска, такие как адрес электронной почты, можно использовать для поиска пользователей в поисковом запросе, но они не отображаются в результатах поиска.</p>
