<h3>Уведомление</h3>
<p>Это список системных действий или событий, которые относятся к вам. Используйте область настройки активности, чтобы решить, как вы будете получать уведомления о них. После того как вы прочитали уведомление Вы можете пометить его для удаления из вашего списка.</p>
<p><strong>Важно:</strong> Чтение уведомлений автоматически истекает и удаляется из вашего списка через 60 дней.</p>
