<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Изменение размера больших изображений при загрузке</h3>
<p>Если этот параметр включен, все изображения, размер которых превышает заданные высоту и ширину, будут изменены в соответствии с предельным размером.</p>
<p>Это настоятельно рекомендуется для изображений, предназначенных для нормального отображения в веб-браузере. Очень большие изображения (например, прямо с цифровой камеры) медленно загружаются в браузере и занимают ненужное место на диске, быстро используя вашу квоту. Также нет потери качества при просмотре на обычном мониторе.</p>
<p>Тем не менее, вы можете загрузить оригинал <strong>без</strong> изменения размера, если вы предоставляете общий доступ к изображению для печати.</p>
<p>Вы можете выбрать настройки по умолчанию для этого параметра на странице настроек.</p>
