<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Изменение размера изображений при загрузке-максимальный размер изображения</h3>
<p>Максимальный размер изображения задает максимальную высоту и ширину пикселя для загруженных изображений пользователя. Все загруженные изображения будут изменены до этих размеров, если они превышают максимальные размеры изображения и изменение размера изображения включено.</p>
