<h3>Размер картинки</h3>
<p>Размер картинки определяет максимальную высоту и ширину пикселов для картинки профиля пользователя. Все изображения, загруженные в область картинок профиля, будут изменены в соответствии с этими размерами. </p>
