<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Публикации</h3>
<p>Перечислите публикации, автором которых вы являетесь либо участвовали в их издании, например, как редактор или дизайнер. Нажмите «Добавить» для создания новой записи. Нажмите «Отменить» чтобы закрыть форму, не сохраняя запись.</p>
<p><strong>Важно:</strong> Сохраните каждую запись с помощью кнопки внизу формы.</p>
<p>Записи отображаются в виде таблицы. Изменить запись можно кнопкой «Редактировать». В целях сохранения всех внесенных вами изменений и правок, обязательно сохраните свои изменения. Для удаления ненужных или ошибочных записей, нажмите «Удалить».</p>
<p>К каждой публикации можно добавить описание. Если вы снабдили публикацию описанием, нажмите на заголовок, чтобы отобразить или скрыть эту информацию.</p>
