<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Наличие визы</h3>
<p>Так как законы о пребывании отличаются в разных странах, возможно вы захотите включить в ваше резюме статус вашей рабочей или туристической визы.</p>
