<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Планы</h3>
<p>Планы-это простые списки задач. Они особенно хорошо подходят для планирования среднесрочных и долгосрочных мероприятий. План может состоять из нескольких отдельных мероприятий, с которыми связаны даты завершения.</p>
<p>Вы можете использовать этот функционал, чтобы:</p>
<uL>
<li>ставить перед собой индивидуальные цели для выполнения большой задачи.</li>
<li>управлять своей учебной деятельностью и следить за тем, сколько вы уже выполнили в течение определенного периода времени.</li>
<li>следить за семинарами, которые вы посетили для вашего профессионального развития.</li>
</ul>
