<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Прикрепленные файлы</h3>
<p>Если вы хотите прикрепить к заметке файл, хранящийся в данный момент в области "файлы", вы можете просмотреть хранилище в поисках нужного файла(ов).</p>
<p>Перейдите по структуре файлов и папок и выберите необходимые файлы.</p>
<p>Вы также можете загружать новые файлы с Вашего компьютера. Они будут размещены в вашей области файлов и прикреплены к вашей заметке одновременно.</p>
