<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Квота группы</h3>
<p>Этой группе выделен определенный объем хранилища, который члены группы могут использовать для загрузки файлов в систему. Если вы приближаетесь к пределу квоты, обратитесь к администратору сайта о повышении лимита.</p>
