<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Сертификаты, свидетельства о повышении квалификации</h3>
<p>Перечислите все ваши сертификаты и свидетельства. Нажмите «Добавить» для добавления новой записи. Нажмите «Отменить», чтобы закрыть форму без сохранения записи. Если у вас несколько записей, используйте стрелки, чтобы упорядочить их.</p>
<p><strong>Важно:</strong> Сохраните каждую новую запись с помощью кнопки внизу формы.</p>
<p>Записи отображаются в виде таблицы. Изменить запись можно кнопкой «Редактировать». Не забывайте сохранять внесенные изменения. Для удаления не нужных или ошибочных записей нажмите «Удалить».</p>
<p>Если у перечисленных вами сертификатов и свидетельств есть описание, нажмите на заголовок, чтобы отобразить или скрыть эту информацию.</p>
