<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Членство в профессиональных сообществах</h3>
<p>В этом разделе вы можете перечислить профессиональные сообщества, в которых вы состоите, отметить членство в общественных академиях. Нажмите «Добавить» для вставки новой записи. Нажмите «Отменить» чтобы закрыть форму без сохранения. Если у вас несколько записей, используйте стрелки, чтобы их упорядочить.</p>
<p><strong>Важно:</strong> Сохраните каждую запись с помощью кнопки внизу формы.</p>
<p>Записи отображаются в виде таблицы. Изменить запись можно кнопкой «Редактировать». Не забывайте сохранять внесенные изменения. Нажмите «Удалить» для удаления записей. Рекомендуем дополнить запись о профессиональном сообществе кратким описанием. Нажмите на заголовок, чтобы отобразить или скрыть эту информацию.</p>
