<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Редактирование страницы</h3>
<p>В этой области отображается предварительный просмотр того, как выглядит ваша страница. Изменения сохраняются автоматически. Перетащите блоки на страницу, чтобы добавить их. Затем вы можете перемещать их по странице, чтобы изменить их положение.</p>
<p>Разработка макета страницы позволяет персонализировать способ отображения ресурсов и информации. Например, если вы хотите отобразить только одну из записей блога, перейдите на вкладку "блоги", а затем перетащите блок "запись блога" в область страницы.</p>
<p>Когда вы создаете контент на своей странице, вы можете проверить, как он будет выглядеть, нажав на кнопку "отобразить страницу". Нажмите кнопку "Изменить", чтобы продолжить редактирование.</p>
