<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Страницы и коллекции</h3>
<h4>Страницы</h4>
<p>Страница содержит набор артефактов, которые вы компонуете и представляете другим. Они могут включать в себя:</p>
<ul>
<li>файлы</li>
<li>разделы резюме</li>
<li>текст (добавленные комментарии, инструкции или описания)</li>
<li>посты блога</li>
<li>видео- и аудиофайлы</li>
<li>внешнее содержимое (Google app, информация с других сайтов)</li>
<li>прочее</li>
</uL>
<p>Вы можете повторно использовать артефакты, собранные в разделе "содержимое", на всех создаваемых страницах.</p>
<h4>Коллекции</h4>
<p>Коллекция - это набор страниц, связанных друг с другом и имеющих одинаковые настройки доступа. Вы можете создать столько разделов, сколько пожелаете, но страница может быть включена только в один раздел.</p>
<p>Вы можете создать раздел из различных страниц или их копий - независимо от того, были ли они созданы Вами лично или просто были скопированы в Ваше портфолио.</p>
