<h3>Профиль</h3>
<p>Заполните основные поля профиля, и ваша контактная информация станет доступна пользователям сайта. Некоторые из полей профиля могут быть нередактируемыми, например идентификационный номер студента. Они заблокированы от изменения администратором сайта.</p>
<p><strong>Внимание:</strong> В целях обеспечения вашей личной безопасности обратите внимание на то, какую контактную информацию вы размещаете на общедоступных страницах.<p>
