<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Заметки</h3>
<p>Заметки-это фрагменты текста, которые можно повторно использовать с одной страницы портфолио на другой без необходимости копировать всю страницу.<p>
