<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Настройки</h3>
<p>Раздел настроек позволяет вам изменить логин, пароль и основные моменты отображения сайта.</p>
<p>Учетные записи автоматически деактивируются по истечению периода, установленного администратором сайта. Вы будете предупреждены по приближении времени деактивации вашей учетной записи и получите инструкции, как сохранить ваше портфолио.</p>
<p><strong>Важно:</strong> Сохраняйте каждую запись с помощью кнопки внизу формы.</p>
