<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Опыт работы</h3>
<p>В этом разделе следует перечислить места вашей работы и должностные обязанности. Нажмите «Добавить» для вставки новой записи. Нажмите «Отменить» чтобы закрыть форму без сохранения. Если у вас несколько записей, используйте стрелки, чтобы их упорядочить.</p>
<p><strong>Важно:</strong> Сохраните каждую запись с помощью кнопки внизу формы.</p>
<p>Записи отображаются в виде таблицы. Изменить запись можно кнопкой «Редактировать». Не забывайте сохранять внесенные изменения. Нажмите «Удалить» для удаления записей. Рекомендуем добавить к перечисленному месту работы краткое описание. Чтобы отобразить или скрыть эту информацию, нажмите на заголовок.</p>

