<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Уведомление об авторских правах</h3>
<p>Чтобы загрузить любой файл в ваше хранилище, вы должны соблюдать и соглашаться с уведомлением об авторских правах.</p>
