<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Квота</h3>
<p>Вам выделен определенный объем хранилища, который можно использовать для загрузки файлов в систему. Если вы приближаетесь к пределу квоты, поговорите с вашим учителем или администратором об увеличении лимита.</p>
