<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Многократное использование содержания заметки</h3>
<p>Можно включить одно и то же содержание заметки в несколько блоков, причем эти блоки могут появляться на разных страницах. Обновление информации в одном блоке также изменит его на всех других страницах, на которых он находится. Вы можете увидеть список всех страниц, на которых находятся заметки.</p>
<p>При редактировании страницы группы или учреждения помните, что другие члены группы или учреждения могут вставить этот текст внутрь собственных страниц. Если вы отредактируете его здесь, он будет обновлен на их страницах тоже.</p>
<p>Вы также можете сделать копию выбранной заметки, а затем при его редактировании изменения коснутся только этой страницы.</p>
