<h3>Файлы группы</h3>
<p>Область файлов группы - это хранилище общих папок и файлов, используемых в группе.</p>
<p>Вы можете использовать перетаскивание для организации файлов и папок группы.</p>
<p>По соображениям безопасности Администратор сайта может ограничить загрузку некоторых типов файлов в систему. </p>
