<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Файлы</h3>
<p>Ваше файловое хранилище - это место, где расположены файлы и папки, которые вы можете использовать для добавления в ваше портфолио.</p>
<p>Количество файлов, которые вы можете загрузить в ваше хранилище файлов, зависит от Квоты. Квота - это разрешенный вам размер заполнения дискового пространства. Размер разрешенного и уже заполненного вами дискового пространства можно посмотреть в рамке Квота.</p>
<p>Вы можете выбрать несколько файлов для одновременной загрузки в диалоговом окне загрузки файлов. Вы можете использовать курсор для перемещения элементов в вашем файловом хранилище. Щелкните мышкой на иконке папки или файла, чтобы перетащить их в другое место.</p>
<p>По соображениям безопасности администратор сайта может ограничить загрузку некоторых типов файлов.</p>
