<h3>Файлы</h3>
<p>Область файлов сайта работает почти так же, как и область Мои файлы основного сайта. Файлы, загруженные для данной области доступны любому пользователю и где размещены в папке общественности, доступны любому пользователю с правильным URL-адресом.</p>
