<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Запретить передачу сообщений на электронную почту</h3>
<p>Используйте эту настройку, если не хотите, чтобы система пересылала вам сообщения по электронной почте.</p>
