<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>SПоказать элементы управления для добавления и удаления колонок при редактировании страницы</h3>
<p>В редакторе страницы есть возможность настроить отображение кнопок
    <span class="btn btn-primary btn-sm text-left" title="Add column">
        <span class="mrs icon-long-arrow-down icon-rotate-45 icon icon-sm" role="presentation"></span>
        <span class="icon-plus icon icon-sm" role="presentation"></span>
    </span> и
	<span title="Remove this column" class="text-center btn btn-secondary btn-sm">
        <span class="icon-times-circle icon icon-sm" role="presentation"></span>
    </span>
	 с помощью этих кнопок можно добавлять и удалять колонки на странице.</p>
<p>Если кнопки не отображаются, вы можете настроить количество колонок в редакторе макета страницы.</p>
