<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>HTML редактор</h3>
<p>Встроенный редактор текста (HTML редактор) доступен в нескольких разделах системы. Это так называемый WYSIWYG-редактор (аббревиатура означает - что я вижу при редактировании, то и получаю на страничке). Это позволит вам применить элементы форматирования к тексту, например, выделить текст жирным или наклонным шрифтом, вставить рисунок или таблицу.</p>
<p><strong>Важно: Работа встроенного редактора текста может отличаться в разных браузерах.</strong></p>
