<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Язык</h3>
<p>Вы можете установить язык, на котором будут отображены пункты меню и контекстная помощь. Свяжитесь с вашим администратором сайта, если у вас есть вопросы.</p>
