<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Контроль другей</h3>
<p>Данные настройки позволят другим пользователям добавлять вас в свой список друзей. Выберите один следующих вариантов:</p>
<p><strong>Никто не может добавить меня в друзья:</strong> никто не сможет добавить вас в свой список друзей.</p>
<p><strong>Новые друзья требуют моего разрешения:</strong> вы должны дать свое одобрение прежде, чем кто- то добавит вас в список друзей. Если вы разрешаете другому пользователю добавить вас в список друзей, то они также будут добавлены в ваш список друзей.</p>
<p><strong>Новые друзья добавляются автоматически:</strong> любой может добавить меня в свой список друзей.</p>
<p>Если вы получили предложение дружбы от другого пользователя системы и согласны стать его другом, то соглашайтесь с предложением дружбы. В этом случае данный пользователь будет внесен в список ваших друзей. А вы автоматически будете внесены в список его друзей.</p>
<p>Когда вы удалите пользователя системы из вашего списка друзей, вы так же будете удалены из его списка друзей.</p>
