<h3>Продолжительность сессии</h3>
<p>По соображениям безопасности после указанного периода бездействия Пользователь автоматически выходит из системы. В поле время существования сеанса указывается, за сколько минут пользователь, неактивно работающий на сайте, выходит из системы.</p>
