<h3>Эта запись в блоге еще не опубликована</h3>
<p>Для защиты от вредоносного кода с других сайтов, &lt;object&gt; и &lt;embed&gt; обычно отфильтровываются из содержимого HTML перед его отображением.  Этот параметр позволяет пользователям вставлять код, созданный несколькими конкретными сайтами, и вставлять его непосредственно в свои представления.</p>
