<h3>Проверка на вирусы</h3>
<p>Если вы хотите, чтобы все файлы, загруженные пользователями, запускались через проверку на вирусы ClamAV, следует выбрать опцию проверки на вирусы.</p>
<p>Вы должны иметь ClamAV установлен на вашем сервере. Многие дистрибутивы Linux имеют <code>clamav</code> пакеты, или вы можете скачать и установить его из <a href="http://www.clamav.net/">ClamAV сайта</a>.
