<h3>Profile Icons</h3>
<p>Система позволяет вам загружать ваши фотографии или рисунки (аватары), которые будут отображаться на сайте вместе с вашим именем. У вас есть возможность загрузить до 5 картинок профиля одновременно. Загружаемые вами изображения должны быть не менее 16x16 пикселей и не более 1024x1024 пикселей. Вес картинок (в байтах) ограничен файловой квотой.</p>
<p>Картинка, которую вы укажете как картинку по умолчанию, будет показана другим людям рядом с вашим именем на сайте, остальные картинки профиля вы можете использовать на создаваемых вами страницах.</p>
<p><strong>Замечание: </strong>Все картинки вашего профиля (не только ту, которую вы установили как картинку по умолчанию) могут видеть другие зарегистрированные пользователи. Если вы не хотите, чтобы их видели другие, удалите их.</p>
<p><strong>Обратите внимание:</strong> В целях обеспечения личной безопасности вашего ребенка не загружайте на сайте его фото для открытого доступа! Используйте в качестве картинки профиля подходящий рисунок (аватар).</p>
