<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Содержимое заметки только для чтения</h3>
<p>Иногда вы можете включить заметку на странице, даже если заметка принадлежит кому-то еще, кроме владельца страницы. Например, у вас может быть разрешение на включение заметок, принадлежащих одной из ваших групп внутри вашей личной страницы.</p>
<p>Если вы включаете такой контент, он будет автоматически обновляться на Вашей странице всякий раз, когда он изменяется владельцем. Если вы хотите обновить его самостоятельно, вы должны сделать это через страницу с тем же владельцем, что и заметка.</p>
<p>Кроме того, вы можете взять свою собственную копию этого контента, а затем при его редактировании изменения коснутся только этой страницы.</p>

