<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Комментарий</h3>
<p>Уведомление о комментариях, полученных на любых страницах, артефактах или блогах в вашем электронном портфолио.</p>
