<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Сообщение на стене</h3>
<p>Уведомление об активности других пользователей на стене, которое вы можете разместить на своей странице профиля.</p>