<h3>Квота</h3>
<p>Вам выделен определенный объем хранилища, который можно использовать для загрузки файлов в систему. Если вы приближаетесь к пределу квоты, поговорите с вашим учителем или администратором об увеличении лимита.</p>
