<h3>Тэги (ключевые слова)</h3>
<p>В нашей системе тэги (ключевые слова) предназначены, прежде всего, для быстрого поиска в системе нужного текста, записи, файла, странички..</p>
<p>Рекомендуем добавить тэги (ключевые слова) ко всем записям, файлам, страницам или разделам портфолио, которые вы создаете в системе.</p>
<p>С помощью тэгов (ключевых слов) не только вы имеете возможность искать нужные записи в своем портфолио, но и любой другой пользователь системы.</p>
<p><b>Обратите внимание:</b> выбранные вами тэги (ключевые слова) должны отражать основные идеи, мысли данной страницы, записи или файла.</p>
<p>В этом случае тэги станут вашими добрыми помощниками, «маячками» в океане информации. Если вы считаете, что тэгов у данного текста, записи, страницы или файла должно быть несколько, перечислите эти тэги через запятую. Например: «фотография, дизайн, черно-белый».</p>
<p>Если вы открыли страничку вашего портфолио для сторонних пользователей, то любой желающий может найти эту страничку и зайти на нее, ознакомиться с ней, оставить комментарии. Использование тэгов облегчает пользователям сайта 4Портфолио поиск нужной информации в своем портфолио и в портфолио других пользователей.</p>
<p>С помощью функции <b>«Поиск по портфолио»</b> вы можете найти все записи, к которым вы добавили определенный тэг (ключевое слово). </p>
